mixin video(video)
    a(href=`/videos/${video.id}`).video-mixin
        div.video-mixin__thumb(style=`background-image:url(/${video.thumbUrl}); background-size:cover; background-position:center;`)
        div.video-mixin__data
            //- div.video-mixin__owner
            //-     a(href=`/users/${video.owner._id}`)
            //-         if !video.owner.avatarUrl
            //-             span.fas.fa-user-circle.owner_avatar
            //-         else
            //-             img.owner_avatar(src="/" + video.owner.avatarUrl)
            div
                span.video-mixin__title=video.title
                div.video-mixin__meta
                    span #{video.owner.name}
                    div
                        span #{video.meta.views} 회 • 
                        span 
                        span #{new Date(video.createdAt).toLocaleDateString("ko-kr", {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'})}