mixin video(video)
    div.video-mixin
        a(href=`/videos/${video.id}`)
            div.video-mixin__thumb(style=`background-image:url(${video.thumbUrl}); background-size:cover; background-position:center;`)
        div.video-mixin__data
            div.video-mixin__owner
                a(href=`/users/${video.owner._id}`)
                    if !video.owner.avatarUrl
                        span.fas.fa-user-circle.owner_avatar
                    else
                        img.owner_avatar(src=video.owner.avatarUrl, width="40px", height="40px")
            div.video-mixin__description
                a(href=`/videos/${video.id}`)
                    span.video-mixin__title=video.title
                div.video-mixin__meta
                    a(href=`/users/${video.owner._id}`)
                        span.video-mixin__owner #{video.owner.name}
                    a(href=`/videos/${video.id}`)
                        span 조회수 #{video.meta.views} 회 • 
                        span 
                        span(data-date=video.createdAt).video-mixin__createAt