extends ../base

block content
    div#videoContainer(data-id=video._id)
        video(src="/" + video.fileUrl)
        div#videoControls.videoControls
            div.videoControls__play
                span#play.videoControls__playBtn
                    i.fas.fa-play
                div.videoControls__time
                    span#currentTime 00:00
                    span  / 
                    span#totalTime 00:00
            input(type="range",step="1", value="0", min="0")#timeline.videoControls__timeline
            div.videoControls__volume
                input(type="range",step="0.1", value=0.5, min="0", max="1")#volume
                span#mute
                    i.fas.fa-volume-up
            div 
                span#fullScreen
                    i.fas.fa-expand

    div.video__data
        p.video__title=video.title
        span.video_meta
            span.far.fa-eye
                |  #{video.meta.views} view
            span.video__createdAt=new Date(video.createdAt).toLocaleDateString("ko-kr", {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'})
            span.likes
                - if (loggedIn && loggedInUser.videoLikes.includes(video._id.toString())) 
                    span.fas.fa-star.star &nbsp;
                - else 
                    span.far.fa-star &nbsp;
                span=video.meta.likes
            if String(video.owner._id) === String(loggedInUser._id) 
                span.fas.fa-ellipsis-v.video__menu
        span.video_info
            sapn.video_owner_info
                span.video__owner_avatar
                    a(href=`/users/${video.owner._id}`)
                        if !video.owner.avatarUrl
                            span.fas.fa-user-circle.owner_avatar
                        else
                            img.owner_avatar(src="/" + video.owner.avatarUrl)
                span.video__owner
                    span.owner_name
                        a(href=`/users/${video.owner._id}`)=video.owner.name
                        span.owner_sub 구독자 1명
            span=video.description
        br
        if String(video.owner._id) === String(loggedInUser._id) 
            a(href=`${video.id}/edit`) Edit Video &rarr;
            br
            a(href=`${video.id}/delete`) Delete Video &rarr;
    div.video__comments 
        if loggedIn
            div.video__add-comments
                form.video__comment-form#commentForm
                    div.comment__userIcon
                        a(href=`/users/${loggedInUser._id}`)
                            if !loggedInUser.avatarUrl
                                span.fas.fa-user-circle.comment_avatar
                            else
                                img.comment_avatar(src="/" + loggedInUser.avatarUrl)
                    div.comment_write
                        textarea(cols="30", rows="10" placeholder="Write a nice comment...")
                        button.comment_save 전송
                        button.comment_calcel 취소
        ul
            each comment in video.comments.reverse()
                li.video__comment(data-id=comment._id)
                    div.comment__userIcon
                        a(href=`/users/${comment.owner._id}`)
                            if !comment.owner.avatarUrl
                                span.fas.fa-user-circle.comment_avatar
                            else
                                img.comment_avatar(src="/" + comment.owner.avatarUrl)
                    div.comment__else
                        div
                            span=comment.owner.name
                            span.comment__createdAt
                                |   ·  #{new Date(comment.createdAt).toLocaleDateString("ko-kr", {weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'})} &nbsp;
                            if String(comment.owner._id) === String(loggedInUser._id) 
                                span.fas.fa-ellipsis-v.comment__menu
                        if String(comment.owner._id) === String(loggedInUser._id) 
                            div.comment__menu_box
                                ul 
                                    li.comment_edit
                                        span.fas.fa-pen.comment__edit_btn
                                        span.comment__btn_text 수정
                                    li.comment__delete
                                        span.fas.fa-trash.comment__delete_btn
                                        span.comment__btn_text 삭제
                        div
                            pre.comment__text
                                | #{`${comment.text}`}
                        div.comment__icons
                            span.likes
                                - if (loggedIn && loggedInUser.commentLikes.includes(comment._id.toString())) 
                                    span.fas.fa-star.star(data-star=1)
                                - else 
                                    span.far.fa-star(data-star=0)
                                span=comment.meta.likes
                            if comment.meta.heart
                                span.far.fa-heart.comment__heart.heart
                            else if String(video.owner._id) === String(loggedInUser._id)
                                span.far.fa-heart.comment__heart
                                //- span.fas.fa-heart.comment__heart

block scripts
    script(src="/static/js/videoPlayer.js")
    script(src="/static/js/commentSection.js")